// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.follow {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 5px 5px 0 rgba(150, 150, 150, 0.5);
  z-index: 1000;
}

article .entry-content {
  dl {
    font-size: 1em;
    line-height: 1.5em;
    dt {
      font-weight: bold;
      margin-left: 1em;
    }
    dd {
      margin-left: 2em;
      margin-bottom: 1.5em;
      p {
        font-size: 1em;
        line-height: 1.5em;
        margin-top: 1.5em;
      }
    }
  }

  p > code {
    color: #000;
    background-color: #f7f7f7;
    border: 1px solid #c8c8c8;
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: .7em;
    @include border-radius(3px 3px); 
    padding: 1px 4px;
  }

  /* My awesome infobox. */
  .infobox {
    border: 1px solid #aaa;
    box-shadow: inset 0 1px 3px 0 #ddd;
    -webkit-box-shadow: inset 0 1px 3px 0 #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 0.5em;
    margin-bottom: 1.5em;
    p:last-child {
        margin-bottom: 0px;
    }
  }
}
